.sprite1 {
  width: 1280px;
  height: 796px;
  position: relative;
  background-image: url("../images/firstscreen.svg");
  animation: smena 0.5s steps(1) infinite;
}
@keyframes smena {
  30% {
    background-position: -1280px 0;
  }
  60% {
    background-position: -2560px 0;
  }
  90% {
    background-position: -3840px 0;
  }
}
