@font-face {
  font-family: "Drabina";
  src: url("../fonts/Drabina-Solid.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FuturaDemi";
  src: url("../fonts/FuturaDemiC.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
