* {
  box-sizing: border-box;
}
body {
  width: 100vw;
}
/* первый экран */
.first_scrin {
  width: 100vw;
  height: 62vw;
  background-image: url("../images/firstscreen.svg");
  background-repeat: no-repeat;
  background-size: 300vw 62.2vw;
  overflow: hidden;
  animation: smena 0.6s steps(1) infinite;
}
/* рыбкиии */
.second_scrin {
  background-color: #d64700;
}
.upper_fish {
  width: 100vw;
  height: 7.5vw;
  background-color: #d64700;
  overflow: hidden;
}
.fish1 {
  width: 90vw;
  height: 6vw;
  animation: fish1 10s infinite linear;
}
.bottom_fish {
  width: 100vw;
  height: 8vw;
  background-color: #d64700;
  overflow: hidden;
}
.fish2 {
  width: 64vw;
  height: 5.2vw;
  animation: fish2 10s infinite linear;
}
/* люди разговаривают */
.talking {
  margin-bottom: -0.5vw;
  width: 100vw;
  height: 27vw;
  background-color: #d64700;
  background-image: url("../images/PEOPLE1.svg");
  background-size: 200vw 27vw;
  background-repeat: no-repeat;
  animation: talking 1s steps(1) infinite;
  overflow: hidden;
}
/* бегущая строка */
.runningstroke {
  width: 100vw;
  height: 19vw;
  background-color: #211e1e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.runningtext1 {
  margin-top: -7vw;
  margin-left: -37vw;
  white-space: nowrap;
  flex-direction: row;
  animation: text1 10s infinite linear;
  font-size: 7.5vw;
  font-family: Drabina;
  color: white;
}
.runningtext2 {
  margin-top: 8vw;
  margin-left: -38vw;
  white-space: nowrap;
  flex-direction: row-reverse;
  animation: text2 10s infinite linear;
  font-family: Drabina;
  font-size: 7.5vw;
  color: white;
}
/* три блока */
.troyka {
  display: flex;
  background-color: #4346fd;
}
/* 1 */
.notes {
  display: inline-flex;
  width: 38.5vw;
  height: 70.4vw;
  background: white;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 38.5vw 70.4vw;
}
.setka {
  width: 38.5vw;
  height: 70.4vw;
  background-image: url("../images/setka.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 38.5vw 70.4vw;
}
.notes {
  position: relative;
}
.notes img {
  width: 16vw;
  height: 11vw;
  position: absolute;
}
.notes img:nth-of-type(1) {
  animation: fall 4s ease-in-out infinite;
}
.notes img:nth-of-type(2) {
  left: 12vw;
  animation: fall 3s linear infinite;
}
.notes img:nth-of-type(3) {
  left: 17vw;
  animation: fall 4s ease-in-out infinite;
}
.notes img:nth-of-type(4) {
  width: 7vw;
  height: 4vw;
  left: 25vw;
  animation: fall 5s linear infinite;
}
.notes img:nth-of-type(5) {
  left: 3vw;
  transform: rotate(30deg);
  animation: fall 4s linear infinite;
}
.notes img:nth-of-type(6) {
  left: 15vw;
  transform: rotate(30deg);
  animation: fall 3s linear infinite;
}
.notes img:nth-of-type(7) {
  left: 19vw;
  transform: rotate(30deg);
  animation: fall 5s linear infinite;
}
.notes img:nth-of-type(8) {
  width: 7vw;
  height: 4vw;
  left: 28vw;
  transform: rotate(30deg);
  animation: fall 3s ease-in-out infinite;
}
/* 2 */
.octopus {
  background-image: url("../images/octopus.svg");
  width: 61.6vw;
  height: 40vw;
  display: inline-flex;
  background-size: 61.6vw 40vw;
}
.vinyl1 {
  width: 19.8vw;
  height: 19.8vw;
  animation: tudasuda 3s infinite linear;
}
/* 3 */
.tickets {
  width: 61.6vw;
  height: 30.4vw;
  background-color: black;
  overflow: hidden;
}
.ticket1 {
  width: 30vw;
  height: 30.4vw;
  animation: waving1 3s infinite linear;
}
.ticket2 {
  top: 5vw;
  width: 30vw;
  height: 30.4vw;
  animation: waving2 3s infinite linear;
}
/* РЫБААА МОЯ ЛЮБИМАЯ РЫБА ФУГУ */
.fugu {
  width: 100vw;
  height: 57.5vw;
  background-image: url("../images/rybasuper.svg");
  background-repeat: no-repeat;
  background-size: 600vw 57.5vw;
  overflow: hidden;
  animation: barabany 1.8s steps(1) infinite;
}
/* вторая строка перебивка */
.stroke {
  display: flex;
  background-color: #211e1e;
}
.wavyvinyl {
  width: 41.25vw;
  height: 32.8vw;
  background-color: #211e1e;
  background-image: url("../images/wavy_vinyl.svg");
  background-repeat: no-repeat;
  background-size: 82.5vw 32.8vw;
  overflow: hidden;
  animation: spinning 0.8s steps(1) infinite;
}
.slova {
  width: 58.75vw;
  height: 32.8vw;
  background-color: #211e1e;
  overflow: hidden;
  position: relative;
}
.slova img {
  width: 26.2vw;
  height: 7.8vw;
  position: absolute;
}
.slova img:nth-of-type(1) {
  transform: rotate(-79deg);
  animation: fall2 4s ease-in-out infinite;
}
.slova img:nth-of-type(2) {
  transform: rotate(15deg);
  left: 9vw;
  animation: fall2 3s linear infinite;
}
.slova img:nth-of-type(3) {
  left: 17vw;
  animation: fall2 4s ease-in-out infinite;
}
.slova img:nth-of-type(4) {
  transform: rotate(27deg);
  left: 24vw;
  animation: fall2 3s linear infinite;
}
.slova img:nth-of-type(5) {
  left: 34vw;
  transform: rotate(30deg);
  animation: fall2 4s linear infinite;
}
.slova img:nth-of-type(6) {
  left: 48vw;
  transform: rotate(-48deg);
  animation: fall2 3s linear infinite;
}
/* вооооолны */
.waves {
  width: 100vw;
  height: 56vw;
  position: relative;
  background: linear-gradient(#4346fd, #ffff);
}
.waves img:nth-of-type(1) {
  width: 100vw;
  height: 53vw;
  background-size: 100vw 53vw;
  position: absolute;
  animation: wave1 3s linear infinite;
}
.waves img:nth-of-type(2) {
  width: 100vw;
  height: 53vw;
  background-size: 100vw 53vw;
  margin-top: 10vw;
  position: absolute;
  animation: wave2 3s linear infinite;
}

/* подвал */
.podval {
  width: 100vw;
  height: 15vw;
  background-color: #ffff;
}
.podval img {
  display: inline-block;
  margin-top: 5vw;
  margin-left: 2vw;
  width: 19vw;
  height: 8.64vw;
}
.podval p {
  display: inline-block;
  font-family: "FuturaDemi";
  text-wrap: nowrap;
  font-size: 3.1vw;
  margin-top: 7vw;
  margin-right: 3vw;
  float: right;
}
